name: CI - Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  ci:
    permissions:
      contents: read
      security-events: write
      actions: read
      packages: write
    uses: TourinhoM/org-ci-platform/.github/workflows/ci-tag.yml@v1
    secrets: inherit