name: CI - Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  ci:
    permissions:
      contents: read
      security-events: write
      actions: read
      packages: write
      id-token: write       # OIDC para cosign keyless (supply-chain attestations)
    uses: TourinhoM/org-ci-platform/.github/workflows/ci-tag.yml@main
    secrets: inherit